
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Project</h2>
        <h3 class="caption gray">I have worked on many important projects throughout my career</h3>
      </div>
      <div class="container">
        <div class="row">
          <div *ngFor="let element of models.project; let i = index">
            <div class="col-md-4">
              <div class="team-member">
                <figure>
                  <!-- <h5 class="name">{{element.time}} </h5> -->
                  <img src="{{ element.url }}" alt="" class="img-responsive">
                  <figcaption>
                    <p [innerHTML]="element.desc"></p>
                  </figcaption>
                </figure>
                <h4>{{element.name}}</h4>
                <code style="font-size: 12px;">{{element.site}}</code>
                
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>