<!-- Our team Section -->
<nav>
  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-md-8">
        <p id="logo">LAPHAT-RADA W.</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <ul>
          <li><a href="#">Developer/Designer/Photographer</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<main class="about">
  <div class="container">
    <section class="grid info">
      <div class="column-xs-12 column-md-1">
        <div class="about">
        <h1 class="section-heading">About Me</h1>
        </div>
      </div>
      <div class="column-xs-12 column-md-4">
        <img class="profile" src="./assets/img/profile/home.JPG">
      </div>
      <div class="column-xs-12 column-md-7">
        <div class="intro">
          <div class="download" (click)="saveResume()" data-toggle="tooltip" data-placement="top" title="Download resume">
            <img src="./assets/icon/pdf.png" alt="Resume">
          </div>
          <div>
            <code> tichaws@gmail.com, +61468523858</code>
            <h2> {{typewriter_display}} </h2>
            <p>Hi,I am a Senior Software Engineer. I primarily focus on writing clean, elegant, and efficient
              code. I am proficient in Angular . I also review existing code and can consult with you on how to improve it.
              Over the past five years, I have primarily worked for companies that specialize in enterprise web
              applications and phone applications development. I worked with the team of
              architects and back-end Developers to gather requirements and enhance the application functionality and add
              new features. I have a responsible for all client side UI Validation, custom validations and implementing
              Business logic based on user selection.</p>
          </div>
          <div class>
            <h4>Executive Summary</h4>
            <ul>● Overall 5 years of experience in Software Engineering, solid in frontend Development.</ul>
            <ul>● Proficient in frontend with TypeScript (Angular 2+), JavaScript, HTML and SCSS.</ul>
            <ul>● Extensive knowledge and experience of Backend programming including Python, Nodejs</ul>
            <ul>● Experience in several business of Financial services and Telecom business.</ul>
            <ul>● Experience in UXUI Design.</ul>
            <ul>● Having experience with client side UI Validation.</ul>
            <ul>● Having leadership skills (Lead small team 4-8 people in Tisco Bank)</ul>
            <ul>● Good communication in English.</ul>
            <ul>● Note: currently living in Australia, prefer remote working 10.00 am - 7.00 pm. Thai time.</ul>
          </div>
        </div>
        
      </div>
      <!-- <div class="column-xs-12 column-md-7">
        <blockquote>
          <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa provident voluptatem consectetur illum, natus placeat incidunt tempora architecto aliquid recusandae eligendi repudiandae ex laborum neque quod cum id facere nulla.</h3>
        </blockquote>
      </div>
      <div class="column-xs-12 column-md-5">
        <img src="https://source.unsplash.com/8eSrC43qdro">
      </div> -->
    </section>
  </div>
</main>
<app-card></app-card>